.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  padding-left: 10px;
}

.nav-items > ul {
  display: flex;
  font-size: 15px;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}